.footer-wrapper{
    padding: 60px 0;
}
.footer-titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-rasm{
    
}
.icons{
    display: flex;
    align-items: center;
    gap: 8px;
}