.footer-wrapper{
    padding: 60px 0;
}
.footer-titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-rasm{
    max-width: 100%;
}
.icons{
    display: flex;
    align-items: center;
    gap: 12px;
}
.icone{
    font-size: 22px;
    color: #837D88;
    margin-bottom: 32px;
    &:hover{
        transform: scale(1.2);
    }
}
hr{
    max-width: 100%;
    background: #FAFAFA;
}